@import "partials/headers";
@import "partials/footer";
@import "partials/section";
@import "sass2/condicionales";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixins";
@import "sass2/operaciones";
@import "variables/variables";


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
form {
    display: inline-block;
    @include form
}
*{
    @include todo;
}

nav{
    background: #217E90;
    height: 80px;
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    float: left;
}
nav ul{
    float: right;
    margin-right: 20px;
}

.lista{
    text-align: center;
}
a{
    color: $red;
}
body {
    min-height: 100vh;
    text-align: center;
    position: relative;
    padding-bottom: 2em;
    @include fondo
}
form {
    display: inline-block;
    @include form
}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

@media(max-width: 480px){
    form{
        width: 100%;
    }
}

.coment{
    @include titulo
}

.div-main{
    text-align: center;
    color: azure;
}
.border{
    margin-left: auto;
    margin-right: auto;
}
.texto{
    border: 1px solid black;
}
.shop{
    height: $height;
    text-align: center;
    color: greenyellow;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 5s;
}
@keyframes efecto {
    0%{ width: 100%; }
    50%{width: 0%;}
    100%{width: 100%;}
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: violet;
}
.nav-link:active{
    color: violet;
}

.footer{
}
