@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: none;
    text-decoration: none;
    background-image: url(Imagenes/Fondo1.jpg); 
}
.lista{
    text-align: center;
}
a{
    color: red;
    
}
.div-main{
    text-align: center;
    color: azure;
}
.texto{
    border: 1px solid black;
}

/* .gradiante{
    background-image: linear-gradient(red, yellow);
} */

.shop{
    height: 100px;
    text-align: center;
    color: greenyellow;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 5s;

}

@keyframes efecto {
    0%{ width: 100%; }
    50%{width: 0%;}
    100%{width: 100%;}
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: violet;
}
.nav-link:active{
    color: violet;
}