@import "../variables/variables";

@mixin todo {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: none;
    text-decoration: none;
    background-image: url(../Imagenes/Fondo1.jpg); 
}
